BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> e7323297fc3c

CREATE TABLE empresas (
    id SERIAL NOT NULL, 
    nome_fantasia VARCHAR NOT NULL, 
    razao_social VARCHAR, 
    cnpj VARCHAR, 
    logo_url VARCHAR, 
    cor_primaria VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_empresas_cnpj ON empresas (cnpj);

CREATE INDEX ix_empresas_nome_fantasia ON empresas (nome_fantasia);

CREATE TABLE centros_custo (
    id SERIAL NOT NULL, 
    nome VARCHAR NOT NULL, 
    codigo VARCHAR, 
    status VARCHAR NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE INDEX ix_centros_custo_nome ON centros_custo (nome);

CREATE TABLE entidades (
    id SERIAL NOT NULL, 
    nome VARCHAR NOT NULL, 
    tipo VARCHAR NOT NULL, 
    cpf_cnpj VARCHAR, 
    status VARCHAR NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE INDEX ix_entidades_nome ON entidades (nome);

CREATE TABLE plano_contas (
    id SERIAL NOT NULL, 
    nome VARCHAR NOT NULL, 
    tipo VARCHAR NOT NULL, 
    codigo VARCHAR, 
    permite_lancamentos BOOLEAN NOT NULL, 
    conta_pai_id INTEGER, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conta_pai_id) REFERENCES plano_contas (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE INDEX ix_plano_contas_nome ON plano_contas (nome);

CREATE INDEX ix_plano_contas_tipo ON plano_contas (tipo);

CREATE TABLE usuarios (
    id SERIAL NOT NULL, 
    email VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE UNIQUE INDEX ix_usuarios_email ON usuarios (email);

CREATE TABLE contas (
    id SERIAL NOT NULL, 
    nome VARCHAR NOT NULL, 
    tipo VARCHAR NOT NULL, 
    banco VARCHAR, 
    saldo_inicial FLOAT NOT NULL, 
    data_saldo_inicial DATE, 
    status VARCHAR NOT NULL, 
    cor VARCHAR, 
    centro_custo_id INTEGER, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE INDEX ix_contas_nome ON contas (nome);

CREATE INDEX ix_contas_tipo ON contas (tipo);

CREATE TABLE cartoes (
    id SERIAL NOT NULL, 
    nome_cartao VARCHAR NOT NULL, 
    limite_total NUMERIC(12, 2) NOT NULL, 
    dia_fechamento INTEGER NOT NULL, 
    dia_vencimento INTEGER NOT NULL, 
    status VARCHAR NOT NULL, 
    id_conta_padrao INTEGER, 
    centro_custo_id INTEGER, 
    conta_id INTEGER, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id), 
    FOREIGN KEY(conta_id) REFERENCES contas (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE TABLE lancamentos (
    id SERIAL NOT NULL, 
    descricao VARCHAR NOT NULL, 
    tipo VARCHAR NOT NULL, 
    status VARCHAR NOT NULL, 
    origem VARCHAR NOT NULL, 
    ipp BOOLEAN NOT NULL, 
    valor_previsto NUMERIC(12, 2) NOT NULL, 
    valor_pago NUMERIC(12, 2) NOT NULL, 
    valor_juros NUMERIC(12, 2) NOT NULL, 
    valor_desconto NUMERIC(12, 2) NOT NULL, 
    valor_multa NUMERIC(12, 2) NOT NULL, 
    data_vencimento DATE NOT NULL, 
    data_pagamento DATE, 
    data_competencia DATE NOT NULL, 
    numero_parcela VARCHAR, 
    id_parcelamento VARCHAR, 
    observacao VARCHAR, 
    anexo_url VARCHAR, 
    conciliado BOOLEAN NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    plano_contas_id INTEGER NOT NULL, 
    conta_id INTEGER, 
    entidade_id INTEGER, 
    cartao_id INTEGER, 
    centro_custo_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(cartao_id) REFERENCES cartoes (id), 
    FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id), 
    FOREIGN KEY(conta_id) REFERENCES contas (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id), 
    FOREIGN KEY(entidade_id) REFERENCES entidades (id), 
    FOREIGN KEY(plano_contas_id) REFERENCES plano_contas (id)
);

CREATE INDEX ix_lancamentos_data_competencia ON lancamentos (data_competencia);

CREATE INDEX ix_lancamentos_data_vencimento ON lancamentos (data_vencimento);

CREATE INDEX ix_lancamentos_descricao ON lancamentos (descricao);

CREATE INDEX ix_lancamentos_origem ON lancamentos (origem);

CREATE INDEX ix_lancamentos_status ON lancamentos (status);

CREATE INDEX ix_lancamentos_tipo ON lancamentos (tipo);

INSERT INTO alembic_version (version_num) VALUES ('e7323297fc3c') RETURNING alembic_version.version_num;

-- Running upgrade e7323297fc3c -> 14eee645c650

ALTER TABLE usuarios ADD COLUMN is_consultor BOOLEAN;

UPDATE usuarios SET is_consultor = FALSE WHERE is_consultor IS NULL;

ALTER TABLE usuarios ALTER COLUMN is_consultor SET NOT NULL;

ALTER TABLE usuarios ALTER COLUMN is_consultor SET DEFAULT false;

UPDATE alembic_version SET version_num='14eee645c650' WHERE alembic_version.version_num = 'e7323297fc3c';

-- Running upgrade 14eee645c650 -> da3616782dc2

CREATE TABLE integracoes_bancarias (
    id SERIAL NOT NULL, 
    nome VARCHAR NOT NULL, 
    tipo VARCHAR NOT NULL, 
    ambiente VARCHAR NOT NULL, 
    token_criptografado VARCHAR NOT NULL, 
    configuracao_adicional VARCHAR, 
    ativo BOOLEAN NOT NULL, 
    sincronizar_automaticamente BOOLEAN NOT NULL, 
    intervalo_sincronizacao_minutos INTEGER NOT NULL, 
    ultima_sincronizacao TIMESTAMP WITHOUT TIME ZONE, 
    proxima_sincronizacao TIMESTAMP WITHOUT TIME ZONE, 
    categoria_padrao_id INTEGER, 
    usar_categoria_a_categorizar BOOLEAN NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(categoria_padrao_id) REFERENCES plano_contas (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id)
);

CREATE TABLE mapeamentos_categoria (
    id SERIAL NOT NULL, 
    categoria_externa VARCHAR NOT NULL, 
    plano_contas_id INTEGER NOT NULL, 
    integracao_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(integracao_id) REFERENCES integracoes_bancarias (id), 
    FOREIGN KEY(plano_contas_id) REFERENCES plano_contas (id)
);

UPDATE alembic_version SET version_num='da3616782dc2' WHERE alembic_version.version_num = '14eee645c650';

-- Running upgrade da3616782dc2 -> 8763be75dfba

ALTER TABLE integracoes_bancarias ADD COLUMN conta_id INTEGER;

ALTER TABLE integracoes_bancarias ADD COLUMN centro_custo_id INTEGER;

ALTER TABLE integracoes_bancarias ADD FOREIGN KEY(centro_custo_id) REFERENCES centros_custo (id);

ALTER TABLE integracoes_bancarias ADD FOREIGN KEY(conta_id) REFERENCES contas (id);

UPDATE alembic_version SET version_num='8763be75dfba' WHERE alembic_version.version_num = 'da3616782dc2';

-- Running upgrade 8763be75dfba -> ab6a1ba62ac6

CREATE TABLE audit_logs (
    id SERIAL NOT NULL, 
    table_name VARCHAR NOT NULL, 
    record_id INTEGER NOT NULL, 
    action VARCHAR NOT NULL, 
    changes JSON, 
    user_id INTEGER, 
    ip_address VARCHAR, 
    user_agent VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_logs_action ON audit_logs (action);

CREATE INDEX ix_audit_logs_record_id ON audit_logs (record_id);

CREATE INDEX ix_audit_logs_table_name ON audit_logs (table_name);

CREATE INDEX ix_audit_logs_user_id ON audit_logs (user_id);

CREATE TABLE anexos_lancamento (
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    created_by_id INTEGER, 
    updated_by_id INTEGER, 
    is_deleted BOOLEAN NOT NULL, 
    deleted_at TIMESTAMP WITHOUT TIME ZONE, 
    deleted_by_id INTEGER, 
    id SERIAL NOT NULL, 
    nome_arquivo VARCHAR NOT NULL, 
    url VARCHAR NOT NULL, 
    tipo VARCHAR NOT NULL, 
    tamanho_bytes INTEGER, 
    content_type VARCHAR, 
    lancamento_id INTEGER NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id), 
    FOREIGN KEY(lancamento_id) REFERENCES lancamentos (id)
);

CREATE INDEX ix_anexos_lancamento_empresa_id ON anexos_lancamento (empresa_id);

CREATE INDEX ix_anexos_lancamento_is_deleted ON anexos_lancamento (is_deleted);

CREATE INDEX ix_anexos_lancamento_lancamento_id ON anexos_lancamento (lancamento_id);

CREATE INDEX ix_anexos_lancamento_nome_arquivo ON anexos_lancamento (nome_arquivo);

CREATE INDEX ix_anexos_lancamento_tipo ON anexos_lancamento (tipo);

ALTER TABLE cartoes ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE cartoes ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE cartoes ADD COLUMN created_by_id INTEGER;

ALTER TABLE cartoes ADD COLUMN updated_by_id INTEGER;

ALTER TABLE cartoes ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE cartoes ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE cartoes ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_cartoes_empresa_id ON cartoes (empresa_id);

CREATE INDEX ix_cartoes_is_deleted ON cartoes (is_deleted);

CREATE INDEX ix_cartoes_nome_cartao ON cartoes (nome_cartao);

CREATE INDEX ix_cartoes_status ON cartoes (status);

ALTER TABLE cartoes DROP COLUMN id_conta_padrao;

ALTER TABLE centros_custo ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE centros_custo ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE centros_custo ADD COLUMN created_by_id INTEGER;

ALTER TABLE centros_custo ADD COLUMN updated_by_id INTEGER;

ALTER TABLE centros_custo ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE centros_custo ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE centros_custo ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_centros_custo_empresa_id ON centros_custo (empresa_id);

CREATE INDEX ix_centros_custo_is_deleted ON centros_custo (is_deleted);

ALTER TABLE contas ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE contas ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE contas ADD COLUMN created_by_id INTEGER;

ALTER TABLE contas ADD COLUMN updated_by_id INTEGER;

ALTER TABLE contas ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE contas ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE contas ADD COLUMN deleted_by_id INTEGER;

ALTER TABLE contas ADD COLUMN tipo_integracao VARCHAR DEFAULT 'MANUAL' NOT NULL;

ALTER TABLE contas ALTER COLUMN saldo_inicial TYPE NUMERIC(15, 2);

CREATE INDEX ix_contas_empresa_id ON contas (empresa_id);

CREATE INDEX ix_contas_is_deleted ON contas (is_deleted);

CREATE INDEX ix_contas_status ON contas (status);

CREATE INDEX ix_contas_tipo_integracao ON contas (tipo_integracao);

ALTER TABLE empresas ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE empresas ADD COLUMN created_by_id INTEGER;

ALTER TABLE empresas ADD COLUMN updated_by_id INTEGER;

ALTER TABLE empresas ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE empresas ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE empresas ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_empresas_is_deleted ON empresas (is_deleted);

ALTER TABLE entidades ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE entidades ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE entidades ADD COLUMN created_by_id INTEGER;

ALTER TABLE entidades ADD COLUMN updated_by_id INTEGER;

ALTER TABLE entidades ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE entidades ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE entidades ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_entidades_cpf_cnpj ON entidades (cpf_cnpj);

CREATE INDEX ix_entidades_empresa_id ON entidades (empresa_id);

CREATE INDEX ix_entidades_is_deleted ON entidades (is_deleted);

CREATE INDEX ix_entidades_tipo ON entidades (tipo);

ALTER TABLE integracoes_bancarias ADD COLUMN created_by_id INTEGER;

ALTER TABLE integracoes_bancarias ADD COLUMN updated_by_id INTEGER;

ALTER TABLE integracoes_bancarias ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE integracoes_bancarias ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE integracoes_bancarias ADD COLUMN deleted_by_id INTEGER;

ALTER TABLE integracoes_bancarias ADD COLUMN provedor VARCHAR DEFAULT 'OUTROS' NOT NULL;

ALTER TABLE integracoes_bancarias ALTER COLUMN conta_id SET NOT NULL;

CREATE UNIQUE INDEX ix_integracoes_bancarias_conta_id ON integracoes_bancarias (conta_id);

CREATE INDEX ix_integracoes_bancarias_empresa_id ON integracoes_bancarias (empresa_id);

CREATE INDEX ix_integracoes_bancarias_is_deleted ON integracoes_bancarias (is_deleted);

CREATE INDEX ix_integracoes_bancarias_provedor ON integracoes_bancarias (provedor);

ALTER TABLE integracoes_bancarias DROP CONSTRAINT integracoes_bancarias_centro_custo_id_fkey;

ALTER TABLE integracoes_bancarias DROP CONSTRAINT integracoes_bancarias_categoria_padrao_id_fkey;

ALTER TABLE integracoes_bancarias DROP COLUMN intervalo_sincronizacao_minutos;

ALTER TABLE integracoes_bancarias DROP COLUMN categoria_padrao_id;

ALTER TABLE integracoes_bancarias DROP COLUMN tipo;

ALTER TABLE integracoes_bancarias DROP COLUMN proxima_sincronizacao;

ALTER TABLE integracoes_bancarias DROP COLUMN centro_custo_id;

ALTER TABLE integracoes_bancarias DROP COLUMN ultima_sincronizacao;

ALTER TABLE integracoes_bancarias DROP COLUMN usar_categoria_a_categorizar;

ALTER TABLE lancamentos ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE lancamentos ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE lancamentos ADD COLUMN created_by_id INTEGER;

ALTER TABLE lancamentos ADD COLUMN updated_by_id INTEGER;

ALTER TABLE lancamentos ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE lancamentos ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE lancamentos ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_lancamentos_cartao_id ON lancamentos (cartao_id);

CREATE INDEX ix_lancamentos_centro_custo_id ON lancamentos (centro_custo_id);

CREATE INDEX ix_lancamentos_conta_id ON lancamentos (conta_id);

CREATE INDEX ix_lancamentos_empresa_id ON lancamentos (empresa_id);

CREATE INDEX ix_lancamentos_entidade_id ON lancamentos (entidade_id);

CREATE INDEX ix_lancamentos_is_deleted ON lancamentos (is_deleted);

CREATE INDEX ix_lancamentos_plano_contas_id ON lancamentos (plano_contas_id);

ALTER TABLE lancamentos DROP COLUMN anexo_url;

ALTER TABLE mapeamentos_categoria ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE mapeamentos_categoria ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE mapeamentos_categoria ADD COLUMN created_by_id INTEGER;

ALTER TABLE mapeamentos_categoria ADD COLUMN updated_by_id INTEGER;

ALTER TABLE mapeamentos_categoria ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE mapeamentos_categoria ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE mapeamentos_categoria ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_mapeamentos_categoria_is_deleted ON mapeamentos_categoria (is_deleted);

ALTER TABLE plano_contas ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE plano_contas ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE plano_contas ADD COLUMN created_by_id INTEGER;

ALTER TABLE plano_contas ADD COLUMN updated_by_id INTEGER;

ALTER TABLE plano_contas ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE plano_contas ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE plano_contas ADD COLUMN deleted_by_id INTEGER;

ALTER TABLE plano_contas ADD COLUMN eh_cabecalho BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE plano_contas ADD COLUMN eh_divida BOOLEAN DEFAULT false NOT NULL;

CREATE INDEX ix_plano_contas_codigo ON plano_contas (codigo);

CREATE INDEX ix_plano_contas_empresa_id ON plano_contas (empresa_id);

CREATE INDEX ix_plano_contas_is_deleted ON plano_contas (is_deleted);

ALTER TABLE usuarios ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE usuarios ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE usuarios ADD COLUMN created_by_id INTEGER;

ALTER TABLE usuarios ADD COLUMN updated_by_id INTEGER;

ALTER TABLE usuarios ADD COLUMN is_deleted BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE usuarios ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE usuarios ADD COLUMN deleted_by_id INTEGER;

CREATE INDEX ix_usuarios_empresa_id ON usuarios (empresa_id);

CREATE INDEX ix_usuarios_is_deleted ON usuarios (is_deleted);

UPDATE alembic_version SET version_num='ab6a1ba62ac6' WHERE alembic_version.version_num = '8763be75dfba';

-- Running upgrade ab6a1ba62ac6 -> c5b1f8a3d2e7

ALTER TABLE integracoes_bancarias ADD COLUMN tipo VARCHAR;

CREATE INDEX ix_integracoes_bancarias_tipo ON integracoes_bancarias (tipo);

DO $$
        BEGIN
            IF EXISTS (
                SELECT 1
                FROM information_schema.columns
                WHERE table_name='integracoes_bancarias'
                  AND column_name='provedor'
            ) THEN
                UPDATE integracoes_bancarias
                SET tipo = provedor
                WHERE tipo IS NULL;
            END IF;
        END $$;;

UPDATE alembic_version SET version_num='c5b1f8a3d2e7' WHERE alembic_version.version_num = 'ab6a1ba62ac6';

-- Running upgrade c5b1f8a3d2e7 -> 9f3a1c2b7d11

CREATE TABLE access_permissions (
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    created_by_id INTEGER, 
    updated_by_id INTEGER, 
    is_deleted BOOLEAN DEFAULT false NOT NULL, 
    deleted_at TIMESTAMP WITHOUT TIME ZONE, 
    deleted_by_id INTEGER, 
    id SERIAL NOT NULL, 
    code VARCHAR(120) NOT NULL, 
    module VARCHAR(64) NOT NULL, 
    action VARCHAR(64) NOT NULL, 
    description VARCHAR(255), 
    is_page_level BOOLEAN DEFAULT false NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_access_permissions_code UNIQUE (code)
);

CREATE INDEX ix_access_permissions_action ON access_permissions (action);

CREATE INDEX ix_access_permissions_is_active ON access_permissions (is_active);

CREATE INDEX ix_access_permissions_is_deleted ON access_permissions (is_deleted);

CREATE INDEX ix_access_permissions_is_page_level ON access_permissions (is_page_level);

CREATE INDEX ix_access_permissions_module ON access_permissions (module);

CREATE TABLE access_profiles (
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    created_by_id INTEGER, 
    updated_by_id INTEGER, 
    is_deleted BOOLEAN DEFAULT false NOT NULL, 
    deleted_at TIMESTAMP WITHOUT TIME ZONE, 
    deleted_by_id INTEGER, 
    id SERIAL NOT NULL, 
    empresa_id INTEGER, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(80) NOT NULL, 
    description VARCHAR(255), 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    is_system BOOLEAN DEFAULT false NOT NULL, 
    is_template BOOLEAN DEFAULT false NOT NULL, 
    base_template_code VARCHAR(80), 
    PRIMARY KEY (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id), 
    CONSTRAINT uq_access_profiles_empresa_code UNIQUE (empresa_id, code)
);

CREATE INDEX ix_access_profiles_code ON access_profiles (code);

CREATE INDEX ix_access_profiles_empresa_id ON access_profiles (empresa_id);

CREATE INDEX ix_access_profiles_is_active ON access_profiles (is_active);

CREATE INDEX ix_access_profiles_is_deleted ON access_profiles (is_deleted);

CREATE INDEX ix_access_profiles_is_system ON access_profiles (is_system);

CREATE INDEX ix_access_profiles_is_template ON access_profiles (is_template);

CREATE INDEX ix_access_profiles_name ON access_profiles (name);

CREATE TABLE access_profile_permissions (
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    created_by_id INTEGER, 
    updated_by_id INTEGER, 
    is_deleted BOOLEAN DEFAULT false NOT NULL, 
    deleted_at TIMESTAMP WITHOUT TIME ZONE, 
    deleted_by_id INTEGER, 
    id SERIAL NOT NULL, 
    profile_id INTEGER NOT NULL, 
    permission_id INTEGER NOT NULL, 
    allowed BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(permission_id) REFERENCES access_permissions (id), 
    FOREIGN KEY(profile_id) REFERENCES access_profiles (id), 
    CONSTRAINT uq_access_profile_permissions_profile_permission UNIQUE (profile_id, permission_id)
);

CREATE INDEX ix_access_profile_permissions_is_deleted ON access_profile_permissions (is_deleted);

CREATE INDEX ix_access_profile_permissions_permission_id ON access_profile_permissions (permission_id);

CREATE INDEX ix_access_profile_permissions_profile_id ON access_profile_permissions (profile_id);

CREATE TABLE user_company_profiles (
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL, 
    created_by_id INTEGER, 
    updated_by_id INTEGER, 
    is_deleted BOOLEAN DEFAULT false NOT NULL, 
    deleted_at TIMESTAMP WITHOUT TIME ZONE, 
    deleted_by_id INTEGER, 
    id SERIAL NOT NULL, 
    usuario_id INTEGER NOT NULL, 
    empresa_id INTEGER NOT NULL, 
    profile_id INTEGER NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(empresa_id) REFERENCES empresas (id), 
    FOREIGN KEY(profile_id) REFERENCES access_profiles (id), 
    FOREIGN KEY(usuario_id) REFERENCES usuarios (id), 
    CONSTRAINT uq_user_company_profiles_usuario_empresa UNIQUE (usuario_id, empresa_id)
);

CREATE INDEX ix_user_company_profiles_empresa_id ON user_company_profiles (empresa_id);

CREATE INDEX ix_user_company_profiles_is_active ON user_company_profiles (is_active);

CREATE INDEX ix_user_company_profiles_is_deleted ON user_company_profiles (is_deleted);

CREATE INDEX ix_user_company_profiles_profile_id ON user_company_profiles (profile_id);

CREATE INDEX ix_user_company_profiles_usuario_id ON user_company_profiles (usuario_id);

INSERT INTO access_permissions (created_at, updated_at, created_by_id, updated_by_id, is_deleted, deleted_at, deleted_by_id, code, module, action, description, is_page_level, is_active) VALUES ('2026-03-31 16:29:50.683358', '2026-03-31 16:29:50.683358', NULL, NULL, false, NULL, NULL, 'page:home:view', 'home', 'view', 'Acesso a pagina Home', true, true);

INSERT INTO access_permissions (created_at, updated_at, created_by_id, updated_by_id, is_deleted, deleted_at, deleted_by_id, code, module, action, description, is_page_level, is_active) VALUES ('2026-03-31 16:29:50.683358', '2026-03-31 16:29:50.683358', NULL, NULL, false, NULL, NULL, 'page:boletim:view', 'boletim', 'view', 'Acesso a pagina Boletim', true, true);

INSERT INTO access_permissions (created_at, updated_at, created_by_id, updated_by_id, is_deleted, deleted_at, deleted_by_id, code, module, action, description, is_page_level, is_active) VALUES ('2026-03-31 16:29:50.683358', '2026-03-31 16:29:50.683358', NULL, NULL, false, NULL, NULL, 'page:dre:view', 'dre', 'view', 'Acesso a pagina DRE', true, true);




















































INSERT INTO access_profiles (created_at, updated_at, created_by_id, updated_by_id, is_deleted, deleted_at, deleted_by_id, empresa_id, name, code, description, is_active, is_system, is_template, base_template_code) VALUES ('2026-03-31 16:29:50.683358', '2026-03-31 16:29:50.683358', NULL, NULL, false, NULL, NULL, NULL, 'Template - Acesso Completo', 'TEMPLATE_FULL_ACCESS', 'Template global com todas as permissoes', true, true, true, NULL);

INSERT INTO access_profiles (created_at, updated_at, created_by_id, updated_by_id, is_deleted, deleted_at, deleted_by_id, empresa_id, name, code, description, is_active, is_system, is_template, base_template_code) VALUES ('2026-03-31 16:29:50.683358', '2026-03-31 16:29:50.683358', NULL, NULL, false, NULL, NULL, NULL, 'Template - Financeiro', 'TEMPLATE_FINANCEIRO', 'Template para operacao financeira', true, true, true, NULL);

INSERT INTO access_profiles (created_at, updated_at, created_by_id, updated_by_id, is_deleted, deleted_at, deleted_by_id, empresa_id, name, code, description, is_active, is_system, is_template, base_template_code) VALUES ('2026-03-31 16:29:50.683358', '2026-03-31 16:29:50.683358', NULL, NULL, false, NULL, NULL, NULL, 'Template - Boletim', 'TEMPLATE_BOLETIM', 'Template para leitura de paineis financeiros', true, true, true, NULL);


SELECT id, code FROM access_permissions WHERE is_deleted = false;

