@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Cor Padrão (Azul Kyrus) */
    --color-primary: #0d6efd; 
}

/* Classes utilitárias para usar a variável CSS */
.bg-primary {
    background-color: var(--color-primary);
}
.text-primary {
    color: var(--color-primary);
}
.border-primary {
    border-color: var(--color-primary);
}
.ring-primary {
    --tw-ring-color: var(--color-primary);
}
.hover\:bg-primary-dark:hover {
    filter: brightness(0.9); /* Escurece um pouco no hover automaticamente */
    background-color: var(--color-primary);
}