@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #2563eb; 
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
